/* navbar.component.css */
.nav-link.active {
    font-weight: bold;
    color: #ffdf00 !important; /* Adjust the color as needed */
  }

  .navbar-logo {
    margin: 0px;
   height: auto;
   width: 15rem;
    
}